<div class="author">
    <h1 class="author_heading">Hi, I am Master Joe</h1>
    <p class="author_body">Full stack developer</p>
</div>

<img src="/img/hero-image.webp" alt="A person looking out the window" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles_heading">Latest Posts</h2>
    <ul>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list_date">Date</span>
            </a>
        </li>
    </ul>
    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>